In [1]:
from collections import defaultdict
from pathlib import Path
from pytubefix import YouTube

In [2]:
base_folder = r"/media/vedant/New Volume/DPythonProjects/yt_summarizer/experiments/data_oct"

In [3]:
base_folder = Path(base_folder)

In [4]:
csv_files = list(base_folder.rglob("*.csv"))
csv_files

[]

In [5]:
from collections import defaultdict

In [6]:
csv_file_categories = set()

In [7]:
for csv_file in csv_files:
    file_name = csv_file.stem
    category = file_name.split("_")[-1]
    csv_file_categories.add(category)

In [8]:
list(csv_file_categories)

[]

In [9]:
raw_video_links = "/home/vedant/Downloads/lpmdata_102023/data_oct/raw_video_links.csv"

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv(raw_video_links)

In [12]:
df.head()

,Unnamed: 0,Answer.startTimeList,seconds,speaker,video_id,youtube_url,learning_objectives
0,309,Start Time|5.4833|34.9833|101.9833|165.4833|23...,250.27,dental,_8xHh1tk7jY.mp4,https://www.youtube.com/watch?v=_8xHh1tk7jY,none
1,210,Start Time|30.3946|55.0392|157.0121|542.5121|7...,4130.41,speaking,_Awekr6-ilg.mp4,https://www.youtube.com/watch?v=_Awekr6-ilg,slide_002.jpg
2,49,Start Time|24.9610|70.2913|107.3214|145.5609|1...,2289.09,bio-4,_BvFr9HEiQg.mp4,https://www.youtube.com/watch?v=_BvFr9HEiQg,none
3,127,Start Time|32.3223|48.3223|95.8223|258.6495|27...,1643.51,dental,_e_B8rTl_rU.mp4,https://www.youtube.com/watch?v=_e_B8rTl_rU,none
4,89,Start Time|6|34|157.9999|280.9999|347.4999|411...,3171.08,bio-4,_Jw3DQ7_pxg.mp4,https://www.youtube.com/watch?v=_Jw3DQ7_pxg,slide_001.jpg

In [13]:
timestamps = list(map(float, df.iloc[0]["Answer.startTimeList"].split("|")[1:]))

In [14]:
from pytubefix import YouTube

In [15]:
df.columns

Index(['Unnamed: 0', 'Answer.startTimeList', 'seconds', 'speaker', 'video_id',
       'youtube_url', 'learning_objectives'],
      dtype='object')

In [16]:
video_id = df.iloc[0]["video_id"][:-4]
video_id

'_8xHh1tk7jY'

In [17]:
df2 = df.copy()

In [18]:
df2.head()

,Unnamed: 0,Answer.startTimeList,seconds,speaker,video_id,youtube_url,learning_objectives
0,309,Start Time|5.4833|34.9833|101.9833|165.4833|23...,250.27,dental,_8xHh1tk7jY.mp4,https://www.youtube.com/watch?v=_8xHh1tk7jY,none
1,210,Start Time|30.3946|55.0392|157.0121|542.5121|7...,4130.41,speaking,_Awekr6-ilg.mp4,https://www.youtube.com/watch?v=_Awekr6-ilg,slide_002.jpg
2,49,Start Time|24.9610|70.2913|107.3214|145.5609|1...,2289.09,bio-4,_BvFr9HEiQg.mp4,https://www.youtube.com/watch?v=_BvFr9HEiQg,none
3,127,Start Time|32.3223|48.3223|95.8223|258.6495|27...,1643.51,dental,_e_B8rTl_rU.mp4,https://www.youtube.com/watch?v=_e_B8rTl_rU,none
4,89,Start Time|6|34|157.9999|280.9999|347.4999|411...,3171.08,bio-4,_Jw3DQ7_pxg.mp4,https://www.youtube.com/watch?v=_Jw3DQ7_pxg,slide_001.jpg

In [19]:
df2 = df2[["Answer.startTimeList", "video_id"]]
df2.head()

                                Answer.startTimeList         video_id
0  Start Time|5.4833|34.9833|101.9833|165.4833|23...  _8xHh1tk7jY.mp4
1  Start Time|30.3946|55.0392|157.0121|542.5121|7...  _Awekr6-ilg.mp4
2  Start Time|24.9610|70.2913|107.3214|145.5609|1...  _BvFr9HEiQg.mp4
3  Start Time|32.3223|48.3223|95.8223|258.6495|27...  _e_B8rTl_rU.mp4
4  Start Time|6|34|157.9999|280.9999|347.4999|411...  _Jw3DQ7_pxg.mp4

In [20]:
df2["timestamps"] = df2["Answer.startTimeList"].apply(lambda x: list(map(float, x.split("|")[1:])))
df2.head()

,Answer.startTimeList,video_id,timestamps
0,Start Time|5.4833|34.9833|101.9833|165.4833|23...,_8xHh1tk7jY.mp4,"[5.4833, 34.9833, 101.9833, 165.4833, 232.9833]"
1,Start Time|30.3946|55.0392|157.0121|542.5121|7...,_Awekr6-ilg.mp4,"[30.3946, 55.0392, 157.0121, 542.5121, 703.012..."
2,Start Time|24.9610|70.2913|107.3214|145.5609|1...,_BvFr9HEiQg.mp4,"[24.961, 70.2913, 107.3214, 145.5609, 187.3366..."
3,Start Time|32.3223|48.3223|95.8223|258.6495|27...,_e_B8rTl_rU.mp4,"[32.3223, 48.3223, 95.8223, 258.6495, 273.6494..."
4,Start Time|6|34|157.9999|280.9999|347.4999|411...,_Jw3DQ7_pxg.mp4,"[6.0, 34.0, 157.9999, 280.9999, 347.4999, 411...."

In [21]:

df2.iloc[0]["timestamps"]

[5.4833, 34.9833, 101.9833, 165.4833, 232.9833]

In [22]:
# num of duplicates (they better) (can make this via distance metric using only generated pdf [within])
# num of missed (they better) (iterate ref frames, look up in generated -> if not found, missed)
# num of non-key frames  (they better, we made false positive) (iterate generated frames, lookup in ref -> if not found, then non-key frames)


# key frames I identified correctly / total num of key frames
# accuracy -> no of key frames identified / total no. of key frames present
# (formula) => accuracy -> no of generated - no of duplicated - num of non-key frames / ref key frames length

# similarity score => A (intersection) B / A (union) B

In [23]:
df2["video_id"] = df2["video_id"].apply(lambda x: x[:-4])
df2.head()

,Answer.startTimeList,video_id,timestamps
0,Start Time|5.4833|34.9833|101.9833|165.4833|23...,_8xHh1tk7jY,"[5.4833, 34.9833, 101.9833, 165.4833, 232.9833]"
1,Start Time|30.3946|55.0392|157.0121|542.5121|7...,_Awekr6-ilg,"[30.3946, 55.0392, 157.0121, 542.5121, 703.012..."
2,Start Time|24.9610|70.2913|107.3214|145.5609|1...,_BvFr9HEiQg,"[24.961, 70.2913, 107.3214, 145.5609, 187.3366..."
3,Start Time|32.3223|48.3223|95.8223|258.6495|27...,_e_B8rTl_rU,"[32.3223, 48.3223, 95.8223, 258.6495, 273.6494..."
4,Start Time|6|34|157.9999|280.9999|347.4999|411...,_Jw3DQ7_pxg,"[6.0, 34.0, 157.9999, 280.9999, 347.4999, 411...."

In [24]:
df2 = df2[["video_id", "timestamps"]]
df2.head()

      video_id                                         timestamps
0  _8xHh1tk7jY    [5.4833, 34.9833, 101.9833, 165.4833, 232.9833]
1  _Awekr6-ilg  [30.3946, 55.0392, 157.0121, 542.5121, 703.012...
2  _BvFr9HEiQg  [24.961, 70.2913, 107.3214, 145.5609, 187.3366...
3  _e_B8rTl_rU  [32.3223, 48.3223, 95.8223, 258.6495, 273.6494...
4  _Jw3DQ7_pxg  [6.0, 34.0, 157.9999, 280.9999, 347.4999, 411....

In [25]:
output_dir = r"/home/vedant/Desktop/glimpsify/most_info_frame_extractor/experiments/22"

In [26]:
output_dir = Path(output_dir)

In [27]:
output_file_name = output_dir / "reference_key_frame_timestamps.csv"
df2.to_csv(output_file_name, index=False)

In [28]:
df2.head()

      video_id                                         timestamps
0  _8xHh1tk7jY    [5.4833, 34.9833, 101.9833, 165.4833, 232.9833]
1  _Awekr6-ilg  [30.3946, 55.0392, 157.0121, 542.5121, 703.012...
2  _BvFr9HEiQg  [24.961, 70.2913, 107.3214, 145.5609, 187.3366...
3  _e_B8rTl_rU  [32.3223, 48.3223, 95.8223, 258.6495, 273.6494...
4  _Jw3DQ7_pxg  [6.0, 34.0, 157.9999, 280.9999, 347.4999, 411....

In [29]:
df2.shape

(333, 2)